
body {
  background: #303036;
  text-align: center;
  text-rendering: auto;
  font-size: 17px;
  line-height: 1.6em;
  height: 100vh;
  overflow: hidden;
  padding: 18%;
  padding-top: 25vh;
}

* {
  box-sizing: border-box;
}

.button {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: .8em 4.7em .8em 1.4em;
  margin-left: 2.5em;
  background: #009ED8;
  border: none;
  color: white;
  transition: .2s;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;

    transition: .2s;
    transform-origin: 50% 60%;
  }
  &:before {
    background: #303036;
  }
  &:hover {
    background: darken(#009ED8, 10%);
  }
  &:active,
  &:focus {
    background: darken(#009ED8, 30%);
    outline: none;
  }
}

.button {
  min-width: 15em;
}

.arrow {
  background: #5379fa;
  &:hover {
    background: darken(#5379fa, 10%);
  }
  &:active,
  &:focus {
    background: darken(#5379fa, 30%);
  }
  &:after {
    content: "\F054";
  }
  &:hover:after {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite;
  }
}


@-webkit-keyframes bounceright {
  from { -webkit-transform: translateX(0); }
  to   { -webkit-transform: translateX(3px); }
}

@-webkit-keyframes wiggle {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(30deg); }
}

@keyframes bounceright {
  from { transform: translateX(0); }
  to   { transform: translateX(3px); }
}

@keyframes wiggle {
  from { transform: rotate(0deg); }
  to   { transform: rotate(30deg); }
}
